@import "reset";

$white: #fff;
$black: #111;
$gray: #f0eff5;
$gray-border: #e8e8e8;
$gray-button-border: #dadada;
$gray-list-separator: #e6e6e6;
$blue: #3191ff;
$blue-list-selected: #0069d9;
$red: #f00;

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
body > .ember-view {
  height: 100%;
  width: 100%;
  background-color: $gray;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
}

a {
  color: $blue;
}

strong {
  font-weight: bold;
}

.button {
  border: 1px solid $gray-button-border;
  border-radius: 4px;
  padding: 2px 16px 0;
  line-height: 21px;
  display: inline-block;
  text-decoration: none;
  color: $black;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  background-color: $white;

  &.button-blue {
    color: $blue;
  }

  &.button-right {
    float: right;
  }
}

.rail,
.list,
.contact {
  height: 100%;
  float: left;
  overflow-x: hidden;
  overflow-y: scroll;
}

.rail {
  width: 20%;
  border-right: 1px solid $gray-border;
  padding: 25px 20px;

  h2 {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 25px;
  }
}

.list {
  width: 30%;
  background-color: $white;
  border-right: 1px solid $gray-border;
  padding: 21px 0;

  a {
    color: $black;
    text-decoration: none;
    padding: 4px 20px;
    display: block;

    &.active {
      color: $white;
      background-color: $blue-list-selected;
    }
  }
}

.contact {
  width: 50%;
  background-color: $white;
  padding: 25px 20px;
  position: relative;

  .error {
    border-color: $red;
  }

  h1 {
    font-weight: 300;
    font-size: 24px;
    margin: 0 0 30px 100px;
    overflow: auto;

    input {
      font-size: 24px;
      width: 50%;
      float: left;
    }
  }

  dl {
    padding-bottom: 8px;
    border-bottom: 1px solid $gray-list-separator;
    margin-bottom: 8px;
    line-height: 23px;

    input {
      font-size: 13px;
    }

    dt {
      color: #808080;
      text-align: right;
      width: 100px;
      padding-right: 10px;
      float: left;
    }
  }
}

.actions {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 13px 20px;
  overflow: hidden;
}
