<div class="actions">
  {{#link-to 'contacts.new' class='button'}}+{{/link-to}}
</div>

<div class="list">
  <ul>
    {{#each contact in model}}
      <li>
        {{#link-to 'contact' contact}}
          <strong>{{contact.firstName}}</strong>
          {{contact.lastName}}
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
</div>

<div class="viewport">
  {{outlet}}
</div>
