<div class="rail">
  <h2>Contacts.app</h2>
</div>

<div class="list">
  <ul>
    {{#each contact in model}}
      <li>
        {{#link-to 'contact' contact}}
          <strong>{{contact.firstName}}</strong>
          {{contact.lastName}}
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
</div>

<div class="contact">
  {{outlet}}

  <div class="actions">
    {{outlet 'actions'}}
  </div>
</div>
